* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 38px;
    display: flex;
    background-color: rgb(27, 34, 38);
    justify-content: flex-start;
    padding-left: 3%;
}

.header {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}


.logo_search {
    width: 28%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    /* background-color: aqua; */
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70%;
    height: 81%;
}

.search {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.search input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #38434F;
}

.navegacao {
    display: flex;
    width: 45%;
    height: 80%;
    flex-direction: row;
    align-items: center;
}

.nav_a {
    text-decoration: none;
    display: flex;
    width: 16%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav_a img {
    width: 22%;
    height: 40%;
}

.nav_a span {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: white;
}

.linha_vertical {
    height: 120%;
    border: 1px solid #FFFFFF99;
}

.nav_notific {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav_notific img {
    width: 22%;
    height: 40%;
}

.nav_notific span {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: white;
}

main {
    background-color: #000000;
    width: 100%;
    height: 2000px;
    padding-top: 2%;
    padding-left: 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile_information {
    background-color: #1B2226;
    width: 622px;
    height: 468px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.cover_image {
    width: 100%;
    height: 50%;
}

.cover_image img {
    width: 100%;
    height: 100%;
}

.profile_picture {
    position: fixed;
    top: 30%;
    left: 13%;
}

.profile_picture img {
    width: 82%;
    height: 82%;
}

.personal_information {
    display: flex;
    width: 87%;
    height: 50%;
    margin-left: 4%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.informations {
    height: 100%;
    display: flex;
    color: #FFFFFFE5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name_profession {
    display: flex;
    height: 26%;
    flex-direction: column;
    justify-content: space-between;
}

.name_profession h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.name_profession h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.name_profession p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.city_contact {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city_contact span {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.city_contact p {
    color: #70B5F9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.interactions {
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.interactions p {
    color: #70B5F9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.interactions span {
    display: flex;
    align-items: center;
}

.profile_actions {
    display: flex;
    width: 263px;
    height: 18%;
    justify-content: space-between;
    align-items: center;
}

.message {
    width: 128px;
    height: 32px;
    background-color: #70B5F9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message span {
    color: #000000BF;
}

.more {
    width: 128px;
    height: 32px;
    border: 1px solid #70B5F9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more span {
    color: #70B5F9;
}

.career_details {
    color: #FFFFFFE5;
    display: flex;
    width: 190px;
    height: 58%;
    flex-direction: column;
    justify-content: flex-start;
}

.company {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.educational_institution {
    display: flex;
    align-items: center;
}

.highlights {
    background-color: #1B2226;
    width: 622px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.highlights_span {
    color: #FFFFFFE5;
    width: 92%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.list_highlights {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.component_list {
    display: flex;
    border: 1px solid #FFFFFF99;
    width: 180px;
    height: 236px;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.component_list span {
    color: #FFFFFF99;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.component_list p {
    color: #FFFFFFE5;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
    font-weight: 400;
}

.component_list img {
    width: 100%;
}

.publication {
    width: 89%;
}

.engagement {
    width: 95%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number_reactions {
    display: flex;
    align-items: center;
}

.positioning_activities {
    height: 90%;
}

.activities {
    display: flex;
    background-color: #1B2226;
    border-radius: 6px;
    width: 622px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}

.followers_activities {
    display: flex;
    width: 90%;
    height: 15%;
    flex-direction: column;
    justify-content: space-evenly;
}

.followers_activities p {
    color: #FFFFFFE5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.followers_activities span {
    color: #70B5F9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.activity {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.publication_date {
    display: flex;
    width: 90%;
    color: #FFFFFF99;
    justify-content: flex-start;
    align-items: center;
}

.data_publicação_elementos {
    display: flex;
    align-items: center;
}

.publication_activity {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}

.publication_activity img {
    width: 64px;
    height: 64px;
}

.activity_post_description {
    color: #FFFFFF;
    width: 100%;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.activity_post_interactions {
    color: #FFFFFF99;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#center_line {
    width: 90%;
    border-bottom: 1px solid #FFFFFF99;
}

#last_line {
    width: 100%;
    border-bottom: 1px solid #FFFFFF99;
}

.all_activities {
    color: #FFFFFF99;
    width: 90%;
    height: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 1%;
    flex-direction: row;
    justify-content: center;
}

.about {
    display: flex;
    width: 622px;
    height: 134px;
    background-color: #1B2226;
    border-radius: 16px;
    color: #FFFFFFE5;
    justify-content: center;
    align-items: center;
}

.positioning_about {
    width: 92%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about_description {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    flex-direction: column;
    align-items: stretch;
    height: 40%;
    justify-content: space-around;
}

.about span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.experiences {
    display: flex;
    background-color: #1B2226;
    width: 622px;
    height: 358px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.positioning_experience {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiences h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFFE5;
    margin-bottom: 2%;
}

.experience_item {
    display: flex;

    width: 257px;
    height: 76px;

}

.company_experience {
    display: flex;
    width: 22.5%;
    align-items: center;
    margin-bottom: 3%;
    justify-content: space-between;
}

.company_experience span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFFE5;
}

.company_experience p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF99;
}

.vertical_placement {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.vertical_placement img {
    width: 10px;
    height: 10%;
    color: #D9D9D9;
    margin-bottom: 15%;
}

#vertical_line {
    height: 70%;
    border-left: 1px solid #FFFFFF99;
}

.experience_texts {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

.experience_texts h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFFE5;
}

.experience_texts p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFFE5;
}

.experience_texts span {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF99;
}

.academic_education {
    width: 622px;
    height: 127px;
    border-radius: 16px;
    background-color: #1B2226;
    color: #FFFFFFE5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.positioning_academic_background {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.positioning_academic_background h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.positioning_teaching {
    display: flex;
    width: 36%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.positioning_teaching h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.positioning_teaching p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.positioning_teaching span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF99;
}


.languages {
    width: 622px;
    height: 178px;
    border-radius: 16px;
    background-color: #1B2226;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positioning_languages {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.positioning_languages h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFFE5;
}

.portuguese,
.english {
    display: flex;
    flex-direction: column;
}

.portuguese span,
.english span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

.portuguese p,
.english p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400; text-align: left;
    color: #FFFFFF99;
}

#horizontal_line {
    width: 100%;
    border-bottom: 1px solid #FFFFFF99;
}